.form-group {
  margin: 10px;
  display: flex;
}

.passReveal {
  background: none;
  border: none;
}
.register {
  width: 250px;
}

.form-control {
  width: auto !important;
}

.loginWrapper {
  display: grid;
  grid-template-columns: 35% 25% 30%;
  grid-template-rows: 30% 40% 30%;
}

.loginText {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: 1;
  grid-row-end: 3;
}

.loginForm {
  grid-column-start: 2;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: 3;
}

.thirdPartyLogin {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: span 2;
}
