.detailsWrapper {
  display: block;
}

.card-img-top {
  height: 400px;
}

.houseDetails {
  display: inline-block;
}
.sellerDetails {
  display: inline-block;
  margin-left: 450px;
}
.sellerImg {
  height: 60px;
  width: 80px;
  border-radius: 20px;
}
